<div class="container">
    <div class="comapny_section">
        <div class="com_list " *ngIf="hasViewPermission">
            <div class="cpm-sec">

                <h2>Leave Request</h2>
                <hr>
                
            

    
                <form (ngSubmit)="requestLeave()" enctype="multipart/form-data">
                    <div class="row">

                      <div class="col-md-3">
                        <label>Employee</label>
                        <div class="custom-sel">
                          <select class="form-control" id="employee" name="employee" [(ngModel)]="selectedEmployee"
                                  (change)="onEmployeeChange()" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let employee of Employees" [value]="employee.id">{{ employee.emp_code }}</option>
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-md-3">
                        <label>Leave Type</label>
                        <div class="custom-sel">
                          <select class="form-control" id="leave_type" name="leave_type"
                          [(ngModel)]="leave_type" [ngModelOptions]="{standalone: true}" required>
                    <option value="">-- Select Leave Type --</option>
                    <option *ngFor="let leavetype of LeaveTypes" [ngValue]="leavetype.id">
                      {{ leavetype.name }}
                    </option>
                  </select>
                  
                        </div>
                      </div>
                      

                      <!-- <div class="col-md-3">
                        <label>Document Number</label>
                        <input type="text" class="form-control" required [(ngModel)]="document_number" placeholder="Enter Document number"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !document_number}">
                        <div *ngIf="registerButtonClicked && !document_number" class="error-message">Document number is required.</div>
                      </div> -->
                  


                    
                      <div class="col-md-3">
                        <label>Start Date</label>
                        <input type="date" class="form-control" required [(ngModel)]="start_date" placeholder="Enter Start Date"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !start_date}">
                        <div *ngIf="registerButtonClicked && !start_date" class="error-message">start date is required.</div>
                      </div>
                  
                      <div class="col-md-3">
                        <label>End Date</label>
                        <input type="date" class="form-control" required [(ngModel)]="end_date" placeholder="Enter End Date"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !end_date}">
                        <div *ngIf="registerButtonClicked && !end_date" class="error-message">End Date is required.</div>
                      </div>
                  
                      <div class="col-md-12">
                        <label>Reason</label>
                        <textarea class="form-control" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>


                 

                      <!-- <div class="col-md-6">
                        <label>Approved On</label>
                        <input type="date" class="form-control" required [(ngModel)]="approved_on" placeholder="Enter date of approved on"
                               [ngModelOptions]="{standalone: true}" >
                      </div> -->

                      <div class="col-md-3">
                        <label></label>
                        <div class="check-box-selection-sec form-control mt-3">
                          <div class="mat-set">
                            <mat-checkbox [(ngModel)]="dis_half_day" [ngModelOptions]="{standalone: true}">Dis Half Day</mat-checkbox>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" *ngIf="dis_half_day">
                        <label>Half Day Period</label>
                        <div class="custom-sel">
                          <select class="form-control" id="half_day_period" name="half_day_period" [(ngModel)]="half_day_period" [ngModelOptions]="{standalone: true}">
                            <option value="first_half">First Half</option>
                            <option value="second_half">Second Half</option>
                          </select>
                        </div>
                      </div>


                      <!-- <div class="col-md-6">
                        <label>Created By</label>
                        <div class="custom-sel">
                          <select class="form-control" id="approved_by" name="approved_by" [(ngModel)]="approved_by" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let approver of Users" [value]="approver.id">{{ approver.email }}</option>
                          </select>
                        </div>
                      </div> -->

                  
                 
                  
                 
                    </div>
                  
                    <div class="row" *ngIf="hasAddPermission"
                    >
                      <div class="col-md-9"></div>
                      <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-full mt-4">Send Leave Request</button>
                      </div>
                    </div>
                  </form>



            </div>


        

        </div>


        <table width="100%" *ngIf="hasViewPermission">
          <thead>
            <tr>
              <th>No</th>
              <th> Employee</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Leave Type</th>
              <th>Reason</th>

              <th>Document Number</th>
              <!-- <th>Total</th> -->
              <th>Approval Status</th>

             
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let docs of LeaveRequests;let i = index">
              <td>{{ i + 1 }}</td> 
              <td>{{ docs.employee }}</td>
              <td>{{ docs.start_date }}</td>
              <td>{{ docs.start_date }}</td> 
              <td>{{ docs.leave_type }}</td>
              <td>{{ docs.reason }}</td>
              <td>{{ docs.document_number }}</td>
       
              <td>{{ docs.status }}</td>
         
            </tr>
        
          </tbody>
        </table>

    </div>
</div>