<div class="container" >
    <div class="comapny_section" *ngIf="hasViewPermission">
        <div class="header_section">

            <div class="row">
                <div class="col-md-7">
                    <h1> Expired Documents List</h1>
                </div>
                <div class="col-md-5">
                    <!-- <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"> <span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                        <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                           <span *ngIf="!hasDeletePermission"></span>
                    </div> -->
                </div>
            </div>
           
           

        </div>

      <div class="row mt-5">

        <div class="col-md-12">
            <div class="expired_list_sec" *ngFor="let employeesec of Documents" >

                <div class="row">
                    <div class="col-md-10">
                        <h4>{{employeesec.message}}</h4>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-full btn-info pull-right" (click)="openEditPopuss(employeesec.document_id)" *ngIf="hasEditPermission">Update</button> 

                    </div>
                </div>
             
            </div>
        </div>
      </div>

  

      
    </div>
</div>