<div class="container" >

    
    <div class="comapny_section">
        <div class="com_list " *ngIf="hasViewPermission">
    <div class="cpm-sec">

        <h2>Company Policy</h2><hr>


        <form (ngSubmit)="registerApproveLevel()" enctype="multipart/form-data">
            <div class="row">
               
               
                <div class="col-md-12" >
               
                    <label>Title</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="title"  placeholder="Enter title"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !title}">
                   
                   <div *ngIf="registerButtonClicked && !title" class="error-message">title is required.</div>
              </div>
              
    
              <div class="col-md-12">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
    
    
    <div class="col-md-6">
        <label>Branch</label>
        <div class="custom-sel">
          <select class="form-control" id="branch" name="branch" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let brch of Branches" [value]="brch.id">{{ brch.branch_name }}</option>
          </select>
        </div>
      </div>
       
      <div class="col-md-6">
        <label for="policy_file">Policy Image</label>
        <input type="file" class="form-control" id="policy_file" name="policy_file" (change)="onFileSelected($event)">
      </div>

      <div class="col-md-6">
        <label>Department</label>
        <div class="custom-sel">
          <select class="form-control" id="department" name="department" [(ngModel)]="department" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let dept of Depts" [value]="dept.id">{{ dept.dept_name }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label>Category</label>
        <div class="custom-sel">
          <select class="form-control" id="category" name="category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let catg of Cats" [value]="catg.id">{{ catg.ctgry_title }}</option>
          </select>
        </div>
      </div>
    
      
    
            </div>
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="submit" class="btn-Create btn-full mt-5 btn-success btn" *ngIf="hasAddPermission">Save</button>  
                 </div>
    
                 
            </div>
        </form>
        
  

    


        </div>

        </div>

        

        <table class="table mt-4" *ngIf="policies && policies.length">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Branch</th>
              <th>Department</th>
              <th>Category</th>
              <th>Policy File</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let policy of policies">
              <td>{{ policy.title }}</td>
              <td>{{ policy.description }}</td>
              <td>{{ policy.branch }}</td>
              <td>{{ policy.department }}</td>
              <td>{{ policy.category }}</td>
              <td>
                <button (click)="downloadPolicy(policy.policy_file, policy.title + '.pdf')" class="btn btn-sm btn-primary">
                  Download PDF
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
     





  

        </div>
        

       
        </div>