
<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">
        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Designation Details</h1>
                </div>
                <div class="col-md-3">
                    
                    <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()">

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                        <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>

                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                           
                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedEmployees()">Delete Selected </button>

            </div>
        </div>
        <!-- <div class="list_company_sec mt-4">
            
        </div> -->

        <div class="row mt-4">
            <div class="col-md-12 col-12">
                <div class="row">
                    <div class="col-md-4">
                        <p>Job Tittle</p>
                    </div>

                    <div class="col-md-4">
                        <p>Description</p>
                    </div>
                    <div class="col-md-3">
                        <p>Designation code</p>
                    </div>
                  
                </div>
                <div class="com_list" *ngFor="let designationsec of filteredEmployees" [ngClass]="{ 'selected-item': designationsec.selected }">
                    <mat-checkbox *ngIf="Delete" [(ngModel)]="designationsec.selected" (change)="onCheckboxChange(designationsec.id)"></mat-checkbox>

                  <div class="row">
                  
                    <div class="col-md-4">
                        <h2 class="text-center">{{ designationsec.desgntn_job_title }}</h2>
                    </div>

                    <div class="col-md-4">
                        <h2 class="text-center">{{ designationsec.desgntn_description }}</h2>
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">{{designationsec.desgntn_code }}</h2>

                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-Edit btn-info" (click)="openEditPopuss(designationsec.id)" *ngIf="showEditBtn">Edit</button>
                        
                    </div>
                  
                  </div>
                </div>



                

                
            </div>
        </div>

      
    </div>
</div>

<div *ngIf="!hasViewPermission">
    <!-- Message for users without permission -->
    <p class="text-center " style="margin-top: 150px;" >You don't have permission to view this component.</p>
  </div>