<div class="container" >
    <div class="comapny_section">

        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Asset </h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2>  Asset </h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

            <div class="row">
               

              <div class="col-md-6" >
               
                <label>Asset Name</label>
               <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" >
               
          </div>

           <div class="col-md-6" >
               
                <label>Serial No</label>
               <input type="text"  class="form-control" required  [(ngModel)]="serial_number"  placeholder="Enter Serial no"
                [ngModelOptions]="{standalone: true}" >
               
          </div>
          <div class="col-md-6" >
               
            <label>Model</label>
           <input type="text"  class="form-control" required  [(ngModel)]="model"  placeholder="Enter Model"
            [ngModelOptions]="{standalone: true}" >
           
      </div>

      <div class="col-md-6" >
               
        <label>Purchase date</label>
       <input type="date"  class="form-control" required  [(ngModel)]="purchase_date"  placeholder="Enter Purchase date"
        [ngModelOptions]="{standalone: true}" >
       
  </div>

  <div class="col-md-6" >
    <label>Status</label>
    <div class="custom-sel">
      <select
        class="form-control" [(ngModel)]="status" [ngModelOptions]="{ standalone: true }">
        <option value="available">Available </option>
        <option value="assigned">Assigned </option>

        <option value="maintenance">Under Maintenance </option>

        <option value="disposed">Disposed </option>

      </select>
    </div>
  </div>


  <div class="col-md-6" >
    <label>Condition</label>
    <div class="custom-sel">
      <select
        class="form-control" [(ngModel)]="condition" [ngModelOptions]="{ standalone: true }">
        <option value="healthy">Healthy </option>
        <option value="minor_damage">Minor Damage </option>
        <option value="major_damage">Major Damage </option>

    

      </select>
    </div>
  </div>




  <div class="col-md-6" >
    <label>Select Asset Type</label>
    <div class="custom-sel">
      <select
        class="form-control"
        id="asset_type"
        name="asset_type"
        [(ngModel)]="asset_type"
        [ngModelOptions]="{ standalone: true }"
      >
        <option *ngFor="let employees of LoanTypes" [value]="employees.id">
          {{ employees.name }}
        </option>
      </select>
    </div>
  </div>

     
          
      
      
   



    
            </div>

            <div class="row" >
                <div class="col-md-6" *ngFor="let field of custom_fieldsFam">
                    <label>{{ field.custom_field }}</label>
                    <ng-container [ngSwitch]="field.data_type">
                        <!-- Dropdown -->
                        <select *ngSwitchCase="'dropdown'" class="form-control" 
                                [(ngModel)]="field.field_value" [ngModelOptions]="{standalone: true}"
                                [required]="field.mandatory">
                            <option *ngFor="let value of field.dropdown_values" [value]="value">{{ value }}</option>
                        </select>
                        <!-- Radio -->
                        <div class="radio-sec form-control" *ngSwitchCase="'radio'">
                            <div *ngFor="let value of field.radio_values" class="form-check">
                                <input type="radio" class="form-check-input" [id]="value + field.id" 
                                       [(ngModel)]="field.field_value" [value]="value" 
                                       [ngModelOptions]="{standalone: true}" [required]="field.mandatory">
                                <label class="form-check-label" [for]="value + field.id">{{ value }}</label>
                            </div>
                        </div>
                        <!-- Date -->
                        <input *ngSwitchCase="'date'" type="date" class="form-control" 
                               [(ngModel)]="field.field_value" [ngModelOptions]="{standalone: true}" 
                               [required]="field.mandatory" />
                        <!-- Default for other or empty data_type -->
                        <input *ngSwitchDefault type="text" class="form-control" 
                               [(ngModel)]="field.field_value" [ngModelOptions]="{standalone: true}" 
                               [required]="field.mandatory" />
                    </ng-container>
                </div>
                
            </div>
    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateAssetType()">Save</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

          <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit Asset </h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form>
      
        <div class="row">
               

            <div class="col-md-6" >
             
              <label>Asset Name</label>
             <input type="text"  class="form-control" required  [(ngModel)]="editAsset.name"  placeholder="Enter name"
              [ngModelOptions]="{standalone: true}" >
             
        </div>

         <div class="col-md-6" >
             
              <label>Serial No</label>
             <input type="text"  class="form-control" required  [(ngModel)]="editAsset.serial_number"  placeholder="Enter Serial no"
              [ngModelOptions]="{standalone: true}" >
             
        </div>
        <div class="col-md-6" >
             
          <label>Model</label>
         <input type="text"  class="form-control" required  [(ngModel)]="editAsset.model"  placeholder="Enter Model"
          [ngModelOptions]="{standalone: true}" >
         
    </div>

    <div class="col-md-6" >
             
      <label>Purchase date</label>
     <input type="date"  class="form-control" required  [(ngModel)]="editAsset.purchase_date"  placeholder="Enter Purchase date"
      [ngModelOptions]="{standalone: true}" >
     
</div>

<div class="col-md-6" >
  <label>Status</label>
  <div class="custom-sel">
    <select
      class="form-control" [(ngModel)]="editAsset.status" [ngModelOptions]="{ standalone: true }">
      <option value="available">Available </option>
      <option value="assigned">Assigned </option>

      <option value="maintenance">Under Maintenance </option>

      <option value="disposed">Disposed </option>

    </select>
  </div>
</div>


<div class="col-md-6" >
  <label>Condition</label>
  <div class="custom-sel">
    <select
      class="form-control" [(ngModel)]="editAsset.condition" [ngModelOptions]="{ standalone: true }">
      <option value="healthy">Healthy </option>
      <option value="minor_damage">Minor Damage </option>
      <option value="major_damage">Major Damage </option>

  

    </select>
  </div>
</div>




<div class="col-md-6" >
  <label>Select Asset Type</label>
  <div class="custom-sel">
    <select
      class="form-control"
      id="asset_type"
      name="asset_type"
      [(ngModel)]="editAsset.asset_type"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let employees of LoanTypes" [value]="employees.id">
        {{ employees.name }}
      </option>
    </select>
  </div>
</div>

   
        
    
    
 



  
          </div>


        
  
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn-Create btn-full mt-5 btn-success btn"
              (click)="updateAssetType()"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

        <div class="com_list mt-4" *ngIf="hasViewPermission">


            <table width="100%" *ngIf="hasViewPermission">
                <thead>
                  <tr>
                    <th>No</th>
                    <th> Asset name  </th>
                    <th>Serial No </th>
      
                    <th>Purchase date</th>
                    <th>Status</th>
                    <th>Condition</th>
                    <th>Status</th>
                    <th>Asset type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let docs of Assets;let i = index">
                    <td>{{ i + 1 }}</td> 
                    <td>{{ docs.name }}</td>
                    <td>{{ docs.serial_number }}</td> 
                    <td>{{ docs.model }}</td> 

                    <td>{{ docs.purchase_date }}</td> 

                    <td>{{ docs.status }}</td> 
                    <td>{{ docs.condition }}</td> 
                    <td>{{ docs.asset_type }}</td> 


                    <td>
                        <button
                          mat-fab
                          color="primary"
                          aria-label="Edit icon"
                          *ngIf="showEditBtn"

                          
                          (click)="openEditModal(docs)"
                        >
                          <mat-icon style="color: white;">draw</mat-icon>
                        </button>

                        <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>

                      </td>
                      
              
                </tbody>
              </table>

        </div>
        </div>
        </div>
        
