<div class="container" >
    <div class="comapny_section">
        <div class="com_list ">
    <div class="cpm-sec">

        <h2> Request Type Master</h2><hr>



        <form >

            <div class="row">
                <div class="col-md-6" >
               
                    <label>Name</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                   
                   <div *ngIf="registerButtonClicked && !name" class="error-message">name is required.</div>
              </div>
              

              <div class="col-md-6" >
               
                <label>Description</label>
               <input type="text"  class="form-control" required  [(ngModel)]="description"  placeholder="Enter description"
                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !description}">
               
               <div *ngIf="registerButtonClicked && !description" class="error-message">description is required.</div>
          </div>


          
       


    <div class="col-md-6" *ngIf="!created_by">


        <div class="custom-sel">
            <label>Created by</label>
            <select class="form-control" id="created_by" required [(ngModel)]="created_by"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !created_by}" >
                <option value="" >Select</option>
                <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
            </select>
            <div *ngIf="registerButtonClicked && !created_by" class="error-message">Please Select Created by </div>
        </div>
                    

    </div>
            </div>


            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="registerGeneralreq()">Save</button>  
                 </div>
            </div>
            
       
    </form>

  


        </div>

        </div>

        </div>
        </div>
        
