<!-- <p>company-master works!hsdcbajkclajdpocncak'pikaihcdlakc'pcnjcnsdfghjkleyuijkacbjcbckhckdgubxksdpiydg</p> -->


<div class="container" >
    <div class="comapny_section">
        <div class="header_section">

            <div class="row">
                <div class="col-md-7">
                    <h1> Company details</h1>
                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>

                        <button type="button" class="btn-Edit btn-info btn" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <button type="button" class="btn-Delete btn btn-danger" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> Delete</button>
                    </div>
                </div>
            </div>
           
           

        </div>
        <!-- <div class="list_company_sec mt-4">
            
        </div> -->

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="--clr: #0096FF">
                    <div class="box">
                        <div class="icon">
                            <div class="iconbox">
                                <ion-icon name="brush-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Design</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Placeat iure minus, rerum eius eos voluptates?
                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 col-12">
                <div class="row">
                    <div class="col-md-5">
                        <p>Companies</p>
                    </div>

                    <div class="col-md-3">
                        <p>Location</p>
                    </div>
                    <div class="col-md-4">
                        <p>Rating</p>
                    </div>
                </div>
                <div class="com_list">
                  <div class="row">
                    <div class="col-md-1">
                        <div class="comp_logo d-block mx-auto">
                            <img src="assets/cmp_logo.png" class="img-fluid d-block mx-auto"> 
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h2>Zeo Softwares Private Limited</h2>
                    </div>

                    <div class="col-md-3">
                        <h2 class="text-center">Thrissur, Kerala</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">4.5
                             <mat-icon class="">star</mat-icon> 
                             <mat-icon class="">star</mat-icon>
                             <mat-icon class="">star</mat-icon>
                              <mat-icon class="">star_half </mat-icon>
                            </h2>
                    </div>
                  </div>
                </div>



                

                
            </div>
        </div>

      
    </div>
</div>



<!-- 
<div class="col-md-1">
    <div class="comp_logo d-block mx-auto">
        <img src="assets/cmp_logo.png" class="img-fluid d-block mx-auto"> 
    </div>

</div> -->