<div class="container" >
    <div class="comapny_section">
        <div class="com_list " *ngIf="hasViewPermission" >
    <div class="">

        <h2>Approval </h2>


  
  


        </div>

        </div>


        <div class="row">
            <div class="col-md-12">
              <div class="approval_sec" *ngFor="let apr of Approvals" >
                <h6>General Request Approvals</h6><hr>
                <div class="row ">
                    <div class="col-md-4">
                      <h4>General Request Number</h4>
                      <h5>{{apr.general_request}}</h5>
                    </div>
                    <div class="col-md-2">
                      <h4>Status  </h4>
                      <h5>{{apr.status}} </h5>
                    </div>
                    <div class="col-md-2">
                      <h4>Level </h4>
                      <h5>{{apr.level}}</h5>
                    </div>
                    <div class="col-md-2">
                        <h4>Comment </h4>
                        <h5>{{apr.note}}</h5>
                      </div>
                    <div class="col-md-2">
                        <button type="button" class="btn pull-right" (click)="selectedaprovaldetalis(apr.id)">View</button>
                    </div>
                  </div>
              
         
                <!-- <h6> General Request - {{apr.general_request}}</h6>
                <h6>Status - {{apr.status}}</h6>
                <h6>Level - {{apr.level}}</h6> -->
        
            
        
              </div>
            </div>
          </div>



          <!-- Modal Popup for selected approval details -->
<div *ngIf="isAddFieldsModalOpen" class="modal">

    <div class="modal-content">
      <span class="close pull-right" (click)="closemarketModal()">&times;</span>
  
      <div *ngIf="selectedApproval">
        <h6>General Request Approvals</h6><hr>
        <h6> General Request - {{selectedApproval.general_request}}</h6>
        <h6>Status - {{selectedApproval.status}}</h6>
        <h6>Level - {{selectedApproval.level}}</h6>
  
  
      <textarea class="form-control" [(ngModel)]="note" placeholder="Add a Comment here..."  [ngModelOptions]="{standalone: true}"></textarea>
  
        <div class="row mt-2">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <button type="button" class="btn btn btn-danger btn-full" (click)="rejectApproval(selectedApproval.id)">Reject</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-success btn-full" (click)="approveApproval(selectedApproval.id)">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

</div>
</div>
