

.comapny_section{

    margin-top: 100px;
    margin-left: 50px;
    
}

.header_section{
    background: white;
    padding: 24px 20px 15px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-bottom: solid 3px navy;
}

.header_section h1{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;

}

.btn-Create{
     /* padding: 5px 15px; */
     /* border: none; */
margin-right: 10px;     
   
}

.btn-Edit{
    margin-right: 10px;
}

.btn-Delete{
    margin-right: 10px;
}

.header-btn-icon{
    vertical-align: middle;
}

.btn-Create .mat-icon{
    margin-top: 4px;
}
.btn-Create .mat-icon{
    margin-top: 2px;
}



.list_company_sec{
    padding: 25px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: solid 3px navy;

}

.com_list{
    padding: 20px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: solid 3px navy;
    margin-bottom: 20px;


}

.com_list h2{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
}

.comp_logo{
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.comapny_section p{
    text-align: center;
    color: grey;
}

.com_list .mat-icon{
    color: #FDCC0D;
    height: 20px;
    width: 25px;
}




.user_list_Sec{
    
    background: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    height: 408px ;
    overflow: auto;
}

.user_list_Sec h2{
    font-size: 12px;
    color: grey
}
.user_list_Sec .mat-icon{
    color: grey;
    height: 17px;
    
}

.user_img_sec .mat-icon{
    color: grey;

    height: 35px;
    font-size: 35px;
      /* margin-top: 7px; */
     width: 35px;
    
}

.user_list_show{
        
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.23);

   padding: 10px;
   width: 100%;             
   border-radius: 15px;
}


.user_img_sec{
    
    margin-top: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
}

.user_lis_name h1{
    font-size: 14px;
    color: black;
    margin-top: 8px;
    font-weight: 500;
    text-transform: capitalize;


}

.user_lis_name h2 {
    font-size: 12px;
    color: grey;
  
    font-weight: 500;
    text-transform: capitalize;


}

.user_lis_name h2 span{
    font-size: 10px;
}

.user_lis_name .mat-icon{

    font-size: 10px;
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 00px;
    border-radius: 00px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }
  


.user-details-st{
    margin-top: 5px;
}


.user_full_details_sec{
    padding: 20px;
}
.user_full_details_sec h1{
    font-size: 14px;
    color: black;
    
}
.user_full_details_sec h2{
    font-size: 13px;
    color: grey;
    margin-bottom: 25px;
    

}

.zeo-btn{
    font-size: 12px;
    background: black;
    border-radius: 10px;
    color: white;
    padding: 1px 10px 2px 4px;
    margin-left: 10px;
}

.zeo-btn .mat-icon{
    font-size: 12px;
    height: 10px;
    color: white;
}

.button-group{
    display: flex;
    
    
}

.heding-sec h1{

    font-size: 14px;
    color: black;
    text-transform: uppercase;

    
}

.heding-sec .btn-Create{
    padding: 2px 10px 2px 10px;
    font-size: 14px;
}

.heding-sec .mat-icon{
    font-size: 16px;
    height: 15px;
}


.selected-item-user {
    background: black; /* Define your active color */
}

.selected-item-user h1,h2{
     color: white;
}

.selected-item-user .user_img_sec{
    border: solid 1px white;
}










/* Responsive Table Style */
.responsive-table {
    background-color: #fefefe;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    width: 100%;
    margin: 2rem 0;
    overflow: hidden;
}
.responsive-table__row {
    display: grid;
    border-bottom: 1px solid #edeef2;
    padding: 0 1.5rem;
}
@media (min-width: 768px) {
    .responsive-table__row {
        grid-template-columns: 1fr 2fr 4fr ;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__row {
        grid-template-columns: 1fr  1fr 2fr ;
   }
}
.responsive-table__row th, .responsive-table__row td {
    padding: 1rem;
}
.responsive-table__head {
    background-color: #e1e8f2;
}
@media (max-width: 991px) {
    .responsive-table__head {
        display: none;
   }
}
.responsive-table__head__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
}
.responsive-table__body .responsive-table__row {
    transition: 0.1s linear;
    transition-property: color, background;
}
.responsive-table__body .responsive-table__row:last-child {
    border-bottom: none;
}
.responsive-table__body .responsive-table__row:hover {
    color: #fff;
    background-color: #fb4f83;
}
.responsive-table__body__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.responsive-table__body__text::before {
    margin-right: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .responsive-table__body__text::before {
        content: attr(data-title) " :";
   }
}
@media (max-width: 400px) {
    .responsive-table__body__text::before {
        width: 100%;
        margin-bottom: 1rem;
   }
}
.responsive-table__body__text--name {
    font-weight: 600;
}
@media (min-width: 768px) {
    .responsive-table__body__text--name::before {
        display: none;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--name {
        grid-column: 0.5;
        flex-direction: column;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--status, .responsive-table__body__text--types, .responsive-table__body__text--update {
        grid-column: 0.6666666667;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--country {
        grid-column: -3;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-table__body__text--name, .responsive-table__body__text--country {
        grid-row: 2;
   }
}
/* SVG Up Arrow Style */
.up-arrow {
    height: 100%;
    max-height: 1.8rem;
    margin-left: 1rem;
}
/* SVG User Icon Style */
.user-icon {
    width: 100%;
    max-width: 4rem;
    height: auto;
    margin-right: 1rem;
}
/* Status Indicator Style */
.status-indicator {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: #222;
    margin-right: 0.5rem;
}
.status-indicator--active {
    background: #25be64;
}
.status-indicator--inactive {
    background: #dadde4;
}
.status-indicator--new {
    background: #febf02;
}


.btn-list-edit:hover{
    background: black;
    color: white;
}