<div class="sub-sidebar clickOutside">


    <mat-sidenav-container>
      <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
  
        <div class="wrapper">
          <div class="sidebar">
              <ul>
                <li routerLink="/main-sidebar/loan-sidebar/loan-approval" *ngIf="hasViewPermissionSalary"><a><mat-icon>peoples</mat-icon> Loan Approvals</a></li>

                  <li routerLink="/main-sidebar/loan-sidebar/loan-type/" *ngIf="hasViewPermissionSalary"><a ><mat-icon>peoples</mat-icon> Loan Type</a></li>
                  <li routerLink="/main-sidebar/loan-sidebar/loan-repayment" *ngIf="hasViewPermissionSalary"><a><mat-icon>peoples</mat-icon> Loan Repayment</a></li>
                  <li routerLink="/main-sidebar/loan-sidebar/loan-approvel-level" *ngIf="hasViewPermissionSalary"><a><mat-icon>peoples</mat-icon> Loan Approval Level</a></li>
                  <li routerLink="/main-sidebar/loan-sidebar/loan-application" *ngIf="hasViewPermissionSalary"><a><mat-icon>peoples</mat-icon> Loan Application</a></li>

                  <!-- <li routerLink="/main-sidebar/salary-options/pay-roll" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>peoples</mat-icon> Payroll</a></li> -->

  
                  <mat-nav-list>
     
  
  
                    <div>
            
            
                      <!-- <mat-accordion>
            
            
            
                        <mat-expansion-panel>
                          <mat-expansion-panel-header class="mar-expantion-span">
            
                            <a mat-list-item> <mat-icon>dashboard_customize
                              </mat-icon>
                              <span class="con_clr"> Leave Arrangement</span></a>
                          </mat-expansion-panel-header>
            
                          <div class="mat-expansion-panel-body " *ngIf="hasViewPermissionLeaveAprvlvl"  routerLink="/main-sidebar/leave-options/leave-approval-level">
                            <a class="set_siding" mat-list-item><span class="side_option">Leave Approval Level</span> </a>
                          </div>
            
                          <div class="mat-expansion-panel-body "  *ngIf="hasViewPermissionLeavetemp" routerLink="/main-sidebar/leave-options/leave-template">
                            <a class="set_siding" mat-list-item><span class="side_option">Leave Template</span> </a>
                          </div>
                        </mat-expansion-panel>
            
            
                      </mat-accordion> -->
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
      <!-- <router-outlet></router-outlet> -->
  
    </mat-sidenav-container>
  
  </div>