<div class="container">
    <div class="comapny_section" >

        <div class="header_section">

            <div class="row">
                <div class="col-md-3">
                    <h1>Salary </h1>
                </div>

                <div class="col-md-4">
                 
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name" > -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <!-- <button type="button"  class="btn-Create btn btn-success " > <span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button> -->
                        <!-- <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                           <span *ngIf="!hasDeletePermission"></span> -->
                   
                   
                   
                          </div>
                </div>
                 
            </div>
           
           

        </div>


    

        <div class="tab_back mt-5">
        <mat-tab-group> 
            <mat-tab label="Salary Component">
                
                <div class="tab_boddy">
                    <form (ngSubmit)="RegisterSalaryComponent()" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <label> Component Name</label>
                                <input type="text" class="form-control" required [(ngModel)]="name" placeholder="Enter  name"
                                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                         <div *ngIf="registerButtonClicked && !name" class="error-message"> name is required.</div>
                            </div>
                            <div class="col-md-6" >
                                <label>Component Type</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="component_type" name="component_type" [(ngModel)]="component_type" [ngModelOptions]="{standalone: true}">
                                    <option value="deduction">Deduction</option>
                                    <option value="addition">Addition</option>
                                    <option value="others">Others</option>
                                  </select>
                                </div>
                              </div>

                                  
                      <div class="col-md-6">
                        <label>Gl Code</label>
                        <input type="text" class="form-control" required [(ngModel)]="glcode" placeholder="Enter glcode "
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !glcode}">
                        <div *ngIf="registerButtonClicked && !glcode" class="error-message">glcode  is required.</div>
                      </div>
                  
                      <div class="col-md-12">
                        <label>Description</label>
                        <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>
                      
            <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec mt-2">
                    <div class="mat-set">
                        <!-- <mat-checkbox [(ngModel)]="is_ess">Is_Ess User</mat-checkbox> -->
                        <mat-checkbox [(ngModel)]="is_fixed" [ngModelOptions]="{standalone: true}">Is Fixed</mat-checkbox>
                        <!-- <mat-checkbox [(ngModel)]="is_staff">Is_Staff</mat-checkbox> -->
                    </div>
                   
                </div>
            </div>

            <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec mt-2">
                    <div class="mat-set">
                       <mat-checkbox [(ngModel)]="affected_by_unpaid_leave" [ngModelOptions]="{standalone: true}">
                        Affected by unpaid leave</mat-checkbox>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec mt-2">
                    <div class="mat-set">
                       <mat-checkbox [(ngModel)]="affected_by_halfpaid_leave" [ngModelOptions]="{standalone: true}">
                        Affected by halfpaid leave</mat-checkbox>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec mt-2">
                    <div class="mat-set">
                       <mat-checkbox [(ngModel)]="prorata_calculation" [ngModelOptions]="{standalone: true}">
                        Prorata calculation</mat-checkbox>
                    </div>
                   
                </div>
            </div>

            <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec mt-2">
                    <div class="mat-set">
                       <mat-checkbox [(ngModel)]="is_emi_deduction" [ngModelOptions]="{standalone: true}">
                        Is emi deduction</mat-checkbox>
                    </div>
                   
                </div>
            </div>


                            </div>
                            <div class="row" *ngIf="hasAddPermission">
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                  <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                  
                              </div>
                          </div>
                      
                    </form>
            </div>
          </mat-tab>
           
              <mat-tab label="Employee Salary ">
  
                <div class="tab_boddy">
                    <form (ngSubmit)="requestEmployeeSalary()" enctype="multipart/form-data">

                        <div class="row">
                         

                                  
                      <div class="col-md-6">
                        <label>Amount</label>
                        <input type="text" class="form-control" required [(ngModel)]="amount" placeholder="Enter  amount"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !amount}">
                        <div *ngIf="registerButtonClicked && !amount" class="error-message"> amount is required.</div>
                      </div>
                  
                 
                      <div class="col-md-6">
                        <label>Employee</label>
                        <div class="custom-sel">
                          <select class="form-control" id="employee" name="employee" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.emp_code }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label>Salary Component</label>
                        <div class="custom-sel">
                          <select class="form-control" id="component" name="component" [(ngModel)]="component" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let component of Salarycomponent" [value]="component.id">{{ component.name }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label></label>
                        <div class="check-box-selection-sec mt-2">
                            <div class="mat-set">
                               <mat-checkbox [(ngModel)]="is_active" [ngModelOptions]="{standalone: true}">
                                Is Active</mat-checkbox>
                            </div>
                           
                        </div>
                    </div>

                            </div>
                            
                            <div class="row" >
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                  <button type="submit"  class="btn btn-success btn-full mt-4">Save</button>
                  
                              </div>
                          </div>
                      
                    </form>
                </div>
                  </mat-tab>
  
             
                  </mat-tab-group> 
  
                  </div>
   




    </div>
</div>


