

.comapny_section{

    margin-top: 100px;
    margin-left: 50px;
    
}

.header_section{
    background: white;
    padding: 24px 20px 15px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-bottom: solid 3px navy;
}

.header_section h1{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;

}

.btn-Create{
     /* padding: 5px 15px; */
     /* border: none; */
margin-right: 10px;     
   
}

.btn-Edit{
    margin-right: 10px;
}

.btn-Delete{
    margin-right: 10px;
}

.header-btn-icon{
    vertical-align: middle;
}

.btn-Create .mat-icon{
    margin-top: 4px;
}
.btn-Create .mat-icon{
    margin-top: 2px;
}



.list_company_sec{
    padding: 25px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: solid 3px navy;

}

.com_list{
    padding: 20px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: solid 3px navy;
    margin-bottom: 20px;


}

.com_list h2{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
}

.comp_logo{
    width: 40px;
    height: 50px;
    overflow: hidden;
}

.comapny_section p{
    text-align: center;
    color: grey;
}

.com_list .mat-icon{
    color: #FDCC0D;
    height: 20px;
    width: 25px;
}

.emp-list{
    width: 100%;
    position: relative;
    background: white;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-left: solid 3px navy
}

.emp_pic{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.emp_det_list h2{
    font-size: 16px;
    font-weight: 600;
    color: #315495;
    letter-spacing: 1px;
    text-align: center;
    
}

.emp_det_list h3{
    font-size: 14px;
    font-weight: 500;
    color: grey;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    
}


/* emp profile details css here */

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #5b1e83;
  }
  .profile_img_emp {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: whitesmoke;
    border: solid 3px white;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .profile_img_emp .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
  }
  .text-data .name {
    font-size: 22px;
    font-weight: 500;
  }
  .text-data .job {
    font-size: 15px;
    font-weight: 400;
  }
  .profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
  }
  .profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons .button:hover {
    background-color: #0e4bf1;
  }
  .profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
  }
  .data i {
    font-size: 18px;
    margin-right: 6px;
  }
  .data:last-child {
    border-right: none;
  }

  
  .emp_additional_details{

    background: white;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 24px;

  }

  .emp_additional_details h2{
    font-size: 14px;
    color: grey;

  }

  .emp_additional_details h3{
    font-size: 14px;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .emp_tabs{
    background: white;
    padding: 10px;
  }

  .tab_content{
    padding: 20px;
  }

  .tab_content h2{
    font-size: 14px;
    color: grey;

  }

  .tab_content h3{
    font-size: 14px;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
/*   
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab{
    
      background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed) !important;
      box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75) !important;
 
  } */

 

 .emp_lang_add{

   padding: 0px 20px;
   border-left: solid 1px grey;
 }





 
:root {
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --border-color: hsl(0, 0%, 50%);
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  color: var(--Grayish-Blue);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-regular);
}

body {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cyan {
  --border-color: hsl(180, 62%, 55%);
  grid-area: 1 / 1 / 3 / 2;
}

.red {
  --border-color: hsl(0, 78%, 62%);
}

.orange {
  --border-color: hsl(34, 97%, 64%);
}

.blue {
  --border-color: hsl(212, 86%, 64%);
  grid-area: 1 / 3 / 3 / 4;
}

.header {
  text-align: center;
}

.header_subtitle,
.header_title {
  font-size: clamp(1.6rem, 5vw, 2rem);
}

.header_subtitle {
  font-weight: var(--fw-light);
}

.header_title {
  margin-bottom: 1rem;
}

.header_title,
.card_title {
  color: var(--Very-Dark-Blue);
}

.header_description {
  max-width: 500px;
  margin: 0 auto;
}

.card_grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  border-top: 5px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(23, 79, 138, 0.1);
}

.card_title {
  /* margin-bottom: 1rem; */
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
  initial-letter: 2px;
}

.card_content {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.card_img {
  margin-left: auto;
  display: block;
}

@media (max-width: 768px) {
  .card_grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: stretch;
  }

  .cyan {
    grid-area: auto;
  }

  .blue {
    grid-area: auto;
  }

  .card {
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .card_grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.skill_Sec {
  margin-bottom: 20px;
}
.skill_Sec h6{
  font-size: 12px;
  font-weight: 500;
}

.percentage-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 8px;
}

.percentage-bar {
  height: 100%;
  background-color: #3b82f6; /* Tailwind Blue 500 for example */
  transition: width 0.5s ease-in-out;
}

.skill_Sec .mat-icon{

  color: grey;
  font-size: 16px;
  height: 16px;
    width: 20px;
    float: right;

}

.perce_Sec {
  display: flex;
}

.percentage-bar-container{
  margin-top: 3px;
}

.perce_Sec h6{
  margin-left: 15px;
}


/* Add your CSS styles here */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  height: auto;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal h2{

  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: math;
}



.leave-type-sec{
  background: white;
  padding: 15px 15px 15px 30px;

}

.leave-type-sec h5{
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}


.leave-type-sec h6{
  font-size: 14px;
  text-transform: capitalize;
  color: gray;

}


.progress-circle {
  position: relative;
  width: 60px;
  height: 60px;
}

.progress-circle svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.progress-circle circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}

.progress-circle .bg {
  stroke: #e0e0e0;
}

.progress-circle .progress {
  stroke: #4caf50;
  stroke-dasharray: 251; /* Full circumference */
  stroke-dashoffset: 251; /* Start empty */
  transition: stroke-dashoffset 1s ease-in-out;
}

.progress-circle .count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
}