
.comapny_section{

    margin-top: 100px;
    margin-left: 50px;
    
  }
  
  .header_section{
    background: white;
    padding: 24px 20px 15px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-bottom: solid 3px navy;
  }
  
  .header_section h1{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;
  
  }
  
  
  .com_list{
    padding: 20px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: solid 3px navy;
    margin-bottom: 20px;
  
  
  }
  
  .com_list h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;
  }
  
  
  
  
  table thead th {
    color: #ffffff;
    background: #004976;
    padding: 15px;
    border: 1px solid #ebebec;
    font-weight: 500;
  }
  
  table tr {
    background: #ffffff;
  }
  
  table tr td {
    border: 1px solid #e6edf1;
    padding: 15px;
  }
  
  @media only screen and (max-width: 640px) {
    table thead {
      display: none;
    }
  
    table tbody {
      display: block;
    }
  
    table tbody tr td {
      display: flex;
      align-items: center;
      padding: 0;
    }
  
    table tbody tr {
      margin-bottom: 20px;
      display: block;
      border: 1px solid #004976;
      background: #f9f9f9;
      overflow: hidden;
    }
  
    table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      width: 30%;
      display: flex;
      background: #004976;
      color: #fff;
      padding: 15px;
      margin-inline-end: 10px;
    }
  }
  
  
  
  
  p{
    margin-bottom: 0px;
  }
  
  
  .form-control-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  ::ng-deep .form-control-wrapper mat-form-field {
    width: 100%;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-flex {
    background: none;
    border: none;
    box-shadow: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-underline {
    display: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-select {
    padding: 0;
    border: none;
    box-shadow: none;
    height: auto;
    line-height: 1.5;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-trigger {
    height: auto;
    padding: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-value-text {
    padding: 0;
    margin: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-infix {
    padding: 0;
    border: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-placeholder {
    transform: translateY(-50%);
    top: 50%;
  }
  
  
  ::ng-deep .form-control-wrapper  .mat-mdc-form-field-infix{
    margin-top: -14px;
  }
  
  ::ng-deep .form-control-wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled){
  
  background-color: white;
  }
  
  ::ng-deep .form-control-wrapper .mdc-text-field{
  padding: 0px;
  }
  
  ::ng-deep .form-control-wrapper .mat-mdc-form-field-infix:focus-visible{
  outline: none-webkit-focus-ring-color auto 0px;
  
  
  }
  
  
  /* Remove :focus-visible style from all input elements */
  input:focus-visible {
  outline: none;
  }
  
  /* Remove :focus-visible style from mat-select */
  .mat-select:focus-visible {
  outline: none;
  }
  
  /* Use !important to ensure the outline is removed */
  ::ng-deep .form-control-wrapper:focus-visible {
  outline: none !important;
  }
  
  
  ::ng-deep .mat-select:focus-visible {
  outline: none;
  }
  
  /* Optionally, you can also override other styles */
  ::ng-deep .mat-select:focus-visible .mat-select-value {
  outline: none;
  }
  
  ::ng-deep .mdc-text-field--no-label{
  border:1px solid #ced4da;
  }
  
  ::ng-deep .mat-mdc-form-field-flex {
  padding: 4px 7px;
  height: 35px;
  }
  
  .check-box-selection-sec{
    padding: 0px !important;
  }
  
 
  

  .tab_boddy{
    padding: 30px;
  }
  
  .tab_back{
    background: white;
  }
  
  .header-btn-icon{
    vertical-align: middle;
  }


  .tab_boddy h2{
    font-size: 16px;
    font-weight: 500;

}

.pdf-top{

    border: solid 1px grey;
    height: 70px;
    width: 100%;
}

.pdf-bottom{
    background: #8C0303;
    color: white;
    padding: 7px 10px;
    width: 100%;
    font-size: 14px;
    text-align: center;

}


.pdf-top h4{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

.pdf-bottom a{
    color: white;
    text-decoration: none;
}





.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 15px;
}

.calculator {
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.display {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  background: #e9ecef;
  border-radius: 5px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.component-btn {
  background-color: #007bff;
  color: white;
}

.operator {
  background-color: #6c757d;
  color: white;
}

.operator:hover, .component-btn:hover {
  opacity: 0.8;
}

.btn-danger {
  background-color: red;
  color: white;
}

.btn-success {
  background-color: green;
  color: white;
}


table th{
  text-transform: capitalize;
}