<div class="container">
    <div class="comapny_section" >



      <div class="tab_back ">
        <mat-tab-group> 
            <mat-tab label="Payroll Run">
                
                <div class="tab_boddy">
                 

                  <!-- <h2>Payroll Run</h2><hr> -->
      
              
                  <form (ngSubmit)="requestPayRoll()" enctype="multipart/form-data">
    
                    <div class="row">
                     
                      <div class="col-md-6">
                        <label> Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="name" placeholder="Enter  name"
                        [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                 <div *ngIf="registerButtonClicked && !name" class="error-message"> name is required.</div>
                    </div>
    
                          
                 
    
                  <div class="col-md-6">
                    <label> Start date</label>
                    <input type="date" class="form-control" required [(ngModel)]="start_date" placeholder="Enter  Start date"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !start_date}">
             <div *ngIf="registerButtonClicked && !start_date" class="error-message"> Start date is required.</div>
                </div>
    
                <div class="col-md-6">
                  <label> End date</label>
                  <input type="date" class="form-control" required [(ngModel)]="end_date" placeholder="Enter  end date"
                  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !end_date}">
           <div *ngIf="registerButtonClicked && !end_date" class="error-message"> end date is required.</div>
              </div>
    
              <div class="col-md-6">
                <label> Payment date</label>
                <input type="date" class="form-control" required [(ngModel)]="payment_date" placeholder="Payment  date"
                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !payment_date}">
         <div *ngIf="registerButtonClicked && !payment_date" class="error-message"> Payment date is required.</div>
            </div>
    
                          <div class="col-md-6">
                            <label>Branch</label>
                            <div class="custom-sel">
                              <select class="form-control" id="branch" name="branch" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let branch of Branches" [value]="branch.id">{{ branch.branch_name }}</option>
                              </select>
                            </div>
                          </div>
     
              
                          <div class="col-md-6">
                            <label>Department</label>
                            <div class="custom-sel">
                              <select class="form-control" id="department" name="department" [(ngModel)]="department" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let dept of Departments" [value]="dept.id">{{ dept.dept_name }}</option>
                              </select>
                            </div>
                          </div>
              
              
             
                  <div class="col-md-6">
                    <label>Category</label>
                    <div class="custom-sel">
                      <select class="form-control" id="category" name="category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let category of Categories" [value]="category.id">{{ category.ctgry_description
                        }}</option>
                      </select>
                    </div>
                  </div>
    
                
    
                
                        </div>
                        
                        <div class="row" >
                          <div class="col-md-9"></div>
                          <div class="col-md-3">
                              <button type="submit"  class="btn btn-success btn-full mt-4">Save</button>
              
                          </div>
                      </div>
                  
                </form>
            


                    
            </div>


            <div class="end_section"></div>
            <table width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Payment Date</th>

                  <th>branch</th>
                  <th>department</th>
                  <th>category</th>
                  <th>status</th>




                </tr>
              </thead>
              <tbody>
                  
                  <tr *ngFor="let payroll of Payrolls;let i = index">
                      <td>{{ i + 1 }}</td> 
                      <td>{{payroll.name}}</td>
                      <td>{{payroll.start_date}}</td>

                      <td>{{payroll.end_date}}</td>
                      <td>{{payroll.payment_date}}</td>

                      <td>{{payroll.branch}}</td>

                      <td>{{payroll.department}}</td>

                      <td>{{payroll.category}}</td>

                      <td>{{payroll.status}}</td>

                     


                </tr>
            
              </tbody>
            </table>
          
          </mat-tab>
           
              <mat-tab label="Pay Sheet">
  
                <div class="tab_boddy mt-4" style="padding: 10px;">
             
                  <!-- <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchQuery"
                    [class.expanded]="isExpanded" (input)="filterDocuments()">
                    <button class="search-btn" (click)="toggleSearch()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div> -->

                  <table class="styled-table" width="100%" style=" border-collapse: collapse;">
                    <thead>
                      <tr>
                        <th class="text-table-header" style="width: 0;">No</th>
                        <th class="text-table-header">Employee</th>
                        <th class="text-table-header">Name</th>
                        <th class="text-table-header">Start Date</th>
                        <th class="text-table-header">End Date</th>
                        <th class="text-table-header">Gross Salary</th>
                        <th class="text-table-header">Net Salary</th>
                        <th class="text-table-header">Status</th>
                        <th class="text-table-header">Payslip Component</th>
                      </tr>
                    </thead>
                    <tbody class="text-table-body">
                      <tr class="tbodytext" *ngFor="let payslip of PaySlips; let i = index"
                      (click)="viewPayrollDetails(payslip)" >
                        <td>{{ i + 1 }}</td>
                        <td class="table-body-text-spl">{{ payslip.employee }}</td>
                        <td>{{ payslip.payroll_run?.name }}</td>
                        <td>{{ payslip.payroll_run?.start_date }}</td>
                        <td>{{ payslip.payroll_run?.end_date }}</td>
                        <td>{{ payslip.gross_salary }}</td>
                        <td>{{ payslip.net_salary }}</td>
                        <td>
                          <span class="pill" [ngClass]="{
                            'pill green': payslip.status === 'approved',
                            'pill blue': payslip.status === 'processed',

                            'pill yellow': payslip.status === 'pending',
                            'pill red': payslip.status === 'rejected'
                          }">
                            {{ payslip.status }}
                          </span>
                        </td>
                        <td>{{ payslip.end_date }}</td>
                      </tr>
                    </tbody>
                  </table>
                  

                </div>

                <div class="end_section"></div>
              
                  </mat-tab>
  
             
                  </mat-tab-group> 
  

     
      
             
        <!-- <div class="tab_back mt-5">
        <mat-tab-group> 


       
                  
             
                  </mat-tab-group> 
  
                  </div> -->

                  <!-- <mat-tab label="Payslip">
  
                    <div class="tab_boddy">
                        <form (ngSubmit)="registerPaySlip()" enctype="multipart/form-data">
                          
                          <div class="row">
                            <div class="col-md-6">
                              <label>basic salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="basic_salary" placeholder="Enter  basic salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !basic_salary}">
                              <div *ngIf="registerButtonClicked && !basic_salary" class="error-message"> basic_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>gross salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="gross_salary" placeholder="Enter  gross salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !gross_salary}">
                              <div *ngIf="registerButtonClicked && !gross_salary" class="error-message"> gross_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>net salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="net_salary" placeholder="Enter net salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !net_salary}">
                              <div *ngIf="registerButtonClicked && !net_salary" class="error-message"> net_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>total deductions</label>
                              <input type="text" class="form-control" required [(ngModel)]="total_deductions" placeholder="Enter total deductions"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !total_deductions}">
                              <div *ngIf="registerButtonClicked && !total_deductions" class="error-message"> total_deductions required.</div>
                            </div>
                            <div class="col-md-6">
                              <label>total additions</label>
                              <input type="text" class="form-control" required [(ngModel)]="total_additions" placeholder="Enter total additions"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !total_additions}">
                              <div *ngIf="registerButtonClicked && !total_additions" class="error-message"> total_additions required.</div>
                            </div>


                          </div>
                            <div class="row">
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                              </div>
                            </div>
                          </form>
                          <hr>

                           
            
                          </div>

                          <div class="whitesmokediv" style="background: whitesmoke; height: 30px;"></div>
                        
                          <div class="tab_boddy mt-4">

                            <h2>Payrolls</h2> <hr>
        
                            <table width="100%">
                                <thead>
                                  <tr>
                                    <th>No</th>
                                    <th>basic salary</th>
                                    <th>gross salary</th>
                                    <th>net salary</th>
                                    <th>total deductions</th>
                                    <th>total additions</th>
                                    <th>status</th>
        
        
        
        
                                  </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr *ngFor="let payroll of PaySlips;let i = index">
                                        <td>{{ i + 1 }}</td> 
                                        <td>{{payroll.basic_salary}}</td>
                                        <td>{{payroll.gross_salary}}</td>
        
                                        <td>{{payroll.net_salary}}</td>
                                        <td>{{payroll.total_deductions}}</td>
        
                                        <td>{{payroll.total_additions}}</td>
        
        
                                        <td>{{payroll.status}}</td>
        
                                       
        
        
                                  </tr>
                              
                                </tbody>
                              </table>
                    
                        </div>
                        
                        
    
                      </mat-tab>
 -->

       
<!--                         
                        
                          <div class="tab_boddy mt-4">
          
                              <h2>Payslip Records</h2> <hr>
                                    <div *ngIf="PaySlips.length > 0">
                                      <div class="row" >
                                          <div class="col-md-2" *ngFor="let payslip of PaySlips">
                                              <div class="pdf-top">
                                                  <h4><i class="fa-solid fa-cloud-arrow-down"></i></h4>
                                              </div>
                                              <div class="pdf-bottom">
                                                  <a *ngIf="payslip.payslip_pdf" [href]="payslip.payslip_pdf" target="_blank" >
                                                      <i class="fa-solid fa-file-pdf"></i> View PDF
                  
                                                    </a>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                             
                                    <div *ngIf="PaySlips.length === 0">
                                      <p>No Payslips Found.</p>
                                    </div>
                                    </div>
               -->
                  
    
             



              <!-- <mat-tab label="Payroll Run">
  
                <div class="tab_boddy">
                    <form (ngSubmit)="requestPayRoll()" enctype="multipart/form-data">

                        <div class="row">
                         

                            <div class="col-md-6">
                                <label>Year</label>
                                <input type="number" class="form-control" required [(ngModel)]="year" placeholder="Enter  year"
                                       [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !year}">
                                <div *ngIf="registerButtonClicked && !year" class="error-message"> year required.</div>
                              </div>
                              <div class="col-md-6">
                                <label>Month</label>
                                <select class="form-control"  [(ngModel)]="month" [ngModelOptions]="{standalone: true}"
                                >
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                  <option value="march">March</option>
                                  <option value="april">April</option>
                                  <option value="may">May</option>
                                  <option value="june">June</option>
                                  <option value="july">July</option>
                                  <option value="august">August</option>
                                  <option value="september">September</option>
                                  <option value="october">October</option>
                                  <option value="november">November</option>
                                  <option value="december">December</option>
                                </select>
                              </div>
                              

                              <div class="col-md-6">
                                <label>Pay Formula</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="pay_formula" name="pay_formula" [(ngModel)]="pay_formula" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let Formula of PayrollSettings" [value]="Formula.id">{{ Formula.name }}</option>
                                  </select>
                                </div>
                              </div>
        
                              <div class="col-md-6">
                                <label>Branch</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="branch" name="branch" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let branch of Branches" [value]="branch.id">{{ branch.branch_name }}</option>
                                  </select>
                                </div>
                              </div>
         
                  
                              <div class="col-md-6">
                                <label>Department</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="department" name="department" [(ngModel)]="department" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let dept of Departments" [value]="dept.id">{{ dept.dept_name }}</option>
                                  </select>
                                </div>
                              </div>
                  
                  
                 
                      <div class="col-md-6">
                        <label>Category</label>
                        <div class="custom-sel">
                          <select class="form-control" id="category" name="category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let category of Categories" [value]="category.id">{{ category.ctgry_description
                            }}</option>
                          </select>
                        </div>
                      </div>

                    

                    
                            </div>
                            
                            <div class="row" >
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                  <button type="submit"  class="btn btn-success btn-full mt-4">Save</button>
                  
                              </div>
                          </div>
                      
                    </form>
                </div>

                <div class="whitesmokediv" style="background: whitesmoke; height: 30px;"></div>
                <div class="tab_boddy mt-4">

                    <h2>Payrolls</h2> <hr>

                    <table width="100%">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>year</th>
                            <th>month</th>
                            <th>pay formula</th>
                            <th>branch</th>
                            <th>department</th>
                            <th>category</th>
                            <th>status</th>




                          </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let payroll of Payrolls;let i = index">
                                <td>{{ i + 1 }}</td> 
                                <td>{{payroll.year}}</td>
                                <td>{{payroll.month}}</td>

                                <td>{{payroll.pay_formula}}</td>
                                <td>{{payroll.branch}}</td>

                                <td>{{payroll.department}}</td>

                                <td>{{payroll.category}}</td>

                                <td>{{payroll.status}}</td>

                               


                          </tr>
                      
                        </tbody>
                      </table>
            
                </div>
                  </mat-tab> -->
  

                  <!-- <mat-tab label="Payslip">
  
                    <div class="tab_boddy">
                        <form (ngSubmit)="registerPaySlip()" enctype="multipart/form-data">
                          
                          <div class="row">
                            <div class="col-md-6">
                              <label>basic salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="basic_salary" placeholder="Enter  basic salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !basic_salary}">
                              <div *ngIf="registerButtonClicked && !basic_salary" class="error-message"> basic_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>gross salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="gross_salary" placeholder="Enter  gross salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !gross_salary}">
                              <div *ngIf="registerButtonClicked && !gross_salary" class="error-message"> gross_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>net salary</label>
                              <input type="text" class="form-control" required [(ngModel)]="net_salary" placeholder="Enter net salary"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !net_salary}">
                              <div *ngIf="registerButtonClicked && !net_salary" class="error-message"> net_salary required.</div>
                            </div>

                            <div class="col-md-6">
                              <label>total deductions</label>
                              <input type="text" class="form-control" required [(ngModel)]="total_deductions" placeholder="Enter total deductions"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !total_deductions}">
                              <div *ngIf="registerButtonClicked && !total_deductions" class="error-message"> total_deductions required.</div>
                            </div>
                            <div class="col-md-6">
                              <label>total additions</label>
                              <input type="text" class="form-control" required [(ngModel)]="total_additions" placeholder="Enter total additions"
                                     [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !total_additions}">
                              <div *ngIf="registerButtonClicked && !total_additions" class="error-message"> total_additions required.</div>
                            </div>


                          </div>
                            <div class="row">
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                              </div>
                            </div>
                          </form>
                          <hr>

                           
            
                          </div>

                          <div class="whitesmokediv" style="background: whitesmoke; height: 30px;"></div>
                        
                          <div class="tab_boddy mt-4">

                            <h2>Payrolls</h2> <hr>
        
                            <table width="100%">
                                <thead>
                                  <tr>
                                    <th>No</th>
                                    <th>basic salary</th>
                                    <th>gross salary</th>
                                    <th>net salary</th>
                                    <th>total deductions</th>
                                    <th>total additions</th>
                                    <th>status</th>
        
        
        
        
                                  </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr *ngFor="let payroll of PaySlips;let i = index">
                                        <td>{{ i + 1 }}</td> 
                                        <td>{{payroll.basic_salary}}</td>
                                        <td>{{payroll.gross_salary}}</td>
        
                                        <td>{{payroll.net_salary}}</td>
                                        <td>{{payroll.total_deductions}}</td>
        
                                        <td>{{payroll.total_additions}}</td>
        
        
                                        <td>{{payroll.status}}</td>
        
                                       
        
        
                                  </tr>
                              
                                </tbody>
                              </table>
                    
                        </div>
                        
                        
                        
                        
                          <div class="tab_boddy mt-4">
          
                              <h2>Payslip Records</h2> <hr>
                                    <div *ngIf="PaySlips.length > 0">
                                      <div class="row" >
                                          <div class="col-md-2" *ngFor="let payslip of PaySlips">
                                              <div class="pdf-top">
                                                  <h4><i class="fa-solid fa-cloud-arrow-down"></i></h4>
                                              </div>
                                              <div class="pdf-bottom">
                                                  <a *ngIf="payslip.payslip_pdf" [href]="payslip.payslip_pdf" target="_blank" >
                                                      <i class="fa-solid fa-file-pdf"></i> View PDF
                  
                                                    </a>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                             
                                    <div *ngIf="PaySlips.length === 0">
                                      <p>No Payslips Found.</p>
                                    </div>
                                    </div>
              
                  
    
                 
                      </mat-tab> -->


<!-- 
                      <mat-tab label="Payslip Component">
  
                        <div class="tab_boddy">
                            <form (ngSubmit)="registerPaySlipComponent()" enctype="multipart/form-data">
                              
                              <div class="row">
                                <div class="col-md-6">
                                  <label>basic salary</label>
                                  <input type="text" class="form-control" required [(ngModel)]="basic_salary" placeholder="Enter  basic salary"
                                         [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !basic_salary}">
                                  <div *ngIf="registerButtonClicked && !basic_salary" class="error-message"> basic_salary required.</div>
                                </div>
    
                              
    

                                <div class="col-md-6">
                                  <label>Payslip</label>
                                  <div class="custom-sel">
                                    <select class="form-control" id="payslip" name="payslip" [(ngModel)]="payslip" [ngModelOptions]="{standalone: true}">
                                      <option *ngFor="let payslip of PaySlips" [value]="payslip.id">{{ payslip.branch_name }}</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <label>Component</label>
                                  <div class="custom-sel">
                                    <select class="form-control" id="component" name="component" [(ngModel)]="component" [ngModelOptions]="{standalone: true}">
                                      <option *ngFor="let component of Salarycomponent" [value]="component.id">{{ component.name }} ({{component.component_type}})</option>
                                    </select>
                                  </div>
                                </div>
    
                              </div>
                                <div class="row">
                                  <div class="col-md-9"></div>
                                  <div class="col-md-3">
                                    <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                                  </div>
                                </div>
                              </form>
                              <hr>
    
                               
                
                              </div>
    
                              <div class="whitesmokediv" style="background: whitesmoke; height: 30px;"></div>
                            
                              <div class="tab_boddy mt-4">
    
                                <h2>Payrolls</h2> <hr>
            
                                <table width="100%">
                                    <thead>
                                      <tr>
                                        <th>No</th>
                                        <th>amount</th>
                                        <th>payslip</th>
                                        <th>component</th>
                                      
            
            
            
            
                                      </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let payroll of PaySlipsComponent;let i = index">
                                            <td>{{ i + 1 }}</td> 
                                            <td>{{payroll.amount}}</td>
                                            <td>{{payroll.payslip}}</td>
            
                                            <td>{{payroll.component}}</td>
                                         
        

                                            
                                           
            
            
                                      </tr>
                                  
                                    </tbody>
                                  </table>
                        
                            </div>
                            
                            
                            
                         
                     
                          </mat-tab> --> 




    </div>
</div>

</div>

    <!-- Loader -->
    <div class="loader-container" [class.show]="isLoading">
      <div class="loader"></div>
    </div>
