<div class="container">
    <div class="comapny_section" *ngIf="hasViewPermission">

        <div class="header_section">

            <div class="row">
                <div class="col-md-3">
                    <h1>Compensatory Leave </h1>
                </div>

                <div class="col-md-4">
                 
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name" > -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <!-- <button type="button"  class="btn-Create btn btn-success " > <span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button> -->
                        <!-- <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                           <span *ngIf="!hasDeletePermission"></span> -->
                   
                   
                   
                          </div>
                </div>
                 
            </div>
           
           

        </div>


    

        <div class="tab_back mt-5">
        <mat-tab-group> 
            <mat-tab label="Compensatory Leave Request">
                
                <div class="tab_boddy">
                    <form (ngSubmit)="requestCompansatoryLeave()" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6" >
                                <label>Request type</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="request_type" name="request_type" [(ngModel)]="request_type" [ngModelOptions]="{standalone: true}">
                                    <option value="work_request">work Request</option>
                                    <option value="leave_request">Compansatory Leave Request</option>
                                  </select>
                                </div>
                              </div>

                                  
                      <div class="col-md-6">
                        <label>Work Date</label>
                        <input type="date" class="form-control" required [(ngModel)]="work_date" placeholder="Enter work Date"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !work_date}">
                        <div *ngIf="registerButtonClicked && !work_date" class="error-message">work Date is required.</div>
                      </div>
                  
                      <div class="col-md-12">
                        <label>Reason</label>
                        <textarea class="form-control" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>

                      <div class="col-md-6">
                        <label>Employee</label>
                        <div class="custom-sel">
                          <select class="form-control" id="employee" name="employee" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let employee of Employees" [value]="employee.id">{{ employee.emp_code }}</option>
                          </select>
                        </div>
                      </div>

                            </div>
                            <div class="row" *ngIf="hasAddPermission">
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                  <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                  
                              </div>
                          </div>
                      
                    </form>
            </div>
          </mat-tab>
              <mat-tab label="Compensatory Leave Transaction ">
  
                <div class="tab_boddy">
                    <form (ngSubmit)="requestCompansatoryTransLeave()" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6" >
                                <label>Transaction type</label>
                                <div class="custom-sel">
                                  <select class="form-control" id="transaction_type" name="transaction_type" [(ngModel)]="transaction_type" [ngModelOptions]="{standalone: true}">
                                    <option value="addition">Addition</option>
                                    <option value="deduction">Deduction</option>
                                  </select>
                                </div>
                              </div>


                                  
                      <div class="col-md-6">
                        <label>Days</label>
                        <input type="date" class="form-control" required [(ngModel)]="days" placeholder="Enter  Days"
                               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days}">
                        <div *ngIf="registerButtonClicked && !days" class="error-message"> Days is required.</div>
                      </div>
                  
                      <div class="col-md-12">
                        <label>Reason</label>
                        <textarea class="form-control" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"></textarea>
                      </div>

                      <div class="col-md-6">
                        <label>Employee</label>
                        <div class="custom-sel">
                          <select class="form-control" id="employee" name="employee" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let employee of Employees" [value]="employee.id">{{ employee.emp_code }}</option>
                          </select>
                        </div>
                      </div>

                            </div>
                            
                            <div class="row" *ngIf="hasAddPermission">
                              <div class="col-md-9"></div>
                              <div class="col-md-3">
                                  <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
                  
                              </div>
                          </div>
                      
                    </form>
                </div>
                  </mat-tab>
  
             
                  </mat-tab-group> 
  
                  </div>
   




    </div>
</div>


