<div class="sub-sidebar clickOutside">


    <mat-sidenav-container>
      <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
  
        <div class="wrapper">
          <div class="sidebar">
              <ul>
                  <li routerLink="/main-sidebar/salary-options/salary" *ngIf="hasViewPermissionSalary"><a ><mat-icon>peoples</mat-icon> Salary Component</a></li>
                  <!-- <li routerLink="/main-sidebar/leave-options/leave-type" *ngIf="hasViewPermissiondesg"><a><mat-icon>peoples</mat-icon> Leave Type</a></li> -->
                 
                  <li routerLink="/main-sidebar/salary-options/pay-roll" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>peoples</mat-icon> Payroll</a></li>
                  <li routerLink="/main-sidebar/salary-options/payslip-approval" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>peoples</mat-icon> Payslip Approvals</a></li>


                
                
                
                  <li routerLink="/main-sidebar/salary-options/payroll-appoval-level" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>peoples</mat-icon> payroll Approval Level</a></li>
                  

                  <li (click)="toggleAdvanceSalary()" style="cursor: pointer;">
                    <a>
                      <mat-icon>peoples</mat-icon> Advance Salary
                      <mat-icon style="float: right;">{{ showAdvanceSalary ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </a>
                  </li>
                  
                  <ul *ngIf="showAdvanceSalary" style="padding-left: 20px;">
                    <li routerLink="/main-sidebar/salary-options/advance-salary-approvals">
                      <a> Approval List</a>
                    </li>
                    <li routerLink="/main-sidebar/salary-options/advance-salary-request">
                      <a> Advance Salary Request</a>
                    </li>
                    <li routerLink="/main-sidebar/salary-options/advance-salary-approval-level">
                      <a>Advance Salary Approval Level</a>
                    </li>
                  </ul>
                  
                  
                  
                  <li routerLink="/main-sidebar/salary-options/wps" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>peoples</mat-icon>   WPS</a></li>

             
                 

                  <mat-nav-list>
     
  
  
                    <div>
            
            
                    
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
      <!-- <router-outlet></router-outlet> -->
  
    </mat-sidenav-container>
  
  </div>